body{
    background-color: #ffffff;
  }
  header, footer{
    background-color: #003f60;
    padding: 15px;
  }
  .container2{
    display: flex;
    align-items: center;
  }
  .container3{
    align-items: center;
    bottom: 25px;
  }
  p1{
    color: #003f60;
    font-family:'Source Sans Pro', sans-serif;
    display: block;
    font-size: 2rem;
  }
  p2{
    color: #003f60;
    font-family:'Source Sans Pro', sans-serif;
    display: block;
    font-size: 1rem;
  }
  h1, ul p{
    font-family:'Source Sans Pro', sans-serif;
    color: #ffffff;
  }
  nav {
      width:100%;
      text-align:center;
      font-size: 1,5em;
    }
    li a{
      color: #000000;
    }
    li {
      float: left;
      position: relative;
      display: block;
      width: 100%;
      float: left;
    }
    li:after {
      color: #000000;
      content: '|';
      position: absolute;
      top: 2.3em;
      right: 0;
      z-index: 1;
      font-family: 'Source Sans Pro', sans-serif;
      transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      display:none;
    }
    .container{
      margin: auto;
      margin-top: 2rem;
      max-width: 100%;
      padding: 1rem;
      display: block;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    
    li:last-child:after {
      content: none;
    }
    a {
      color: #777;
      position: relative;
      display: inline-block;
      text-decoration: none;
      transition: .3s;
      line-height: 2em;
      padding: 2em;
    }
    li.ativo > a,li > a:hover { background-color:transparent; color:rgb(0, 0, 0); }
    li > a:after {
      content: '';
      position: absolute;
      bottom: 1.5em;
      left: 15%;
      width: 70%;
      height: 4px;
      transform: scaleX(0);
      background-color: #003f60;
      transition: all .2s ease;
      opacity: 0.6;
    }
    li.ativo > a:after,li > a:hover::after { transform:scaleX(1); }
    /*960PX BREAKPOINT*/
    @media (min-width:60em){
        li       { width:auto; display:inline; }
        li:after { display:block; }
    }
     
    .box-cards {
        width:100%;
        height:auto;
        float:right;
      }
      .card .title {
        
        width:100%;
        float:left;
        color:#ffffff;   
        font-size:0.9em;
        text-align:justify;
        margin-bottom:10px;
        padding-bottom:10px; 
        border-bottom:1px #6a6a6a solid;
        transition:.6s;  
      }
      .card p {
        width:100%;
        float:left;  	
        font-size:15px;
        line-height:20px; 
        text-align:center;
        margin-bottom:5px;
        transition:.6s;  
       
      }
      .card:hover p { color:#2f2f2f; }
      .card .link {
        color: #33dbdf;
        font-size: 16px;
        width: 100%;
        float: left;
        margin-bottom: 5px;
        text-decoration:none;
        transition:.6s; 
      }
      .card:hover .link { color:#2f2f2f; }
      .card {
        width:100%;
        height:auto;
        display:inline-block;
        padding:0.5em;
        border-radius:6px;  
        background-color:#003f60;
        font-family:'Source Sans Pro', sans-serif;
        font-size:30px;
        text-align:center;
        color: #ffffff;
        -webkit-transform: scale(1,1);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
      }
      .card:hover .title{
         color:#2f2f2f; 
         border-bottom:1px #2f2f2f solid;
      }
      .card:hover {
          
         background-color:#33dbdf; 
        -webkit-transform: scale(1.05,1.07);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 220ms;
        z-index:1;
            position: relative;
      }
      /*Responsivo*/
      /*768PX BREAKPOINT*/
      @media (min-width:48em){
          .card { width:49.19%; margin-right:1%; margin-bottom:1%; }
          .card:nth-of-type(2n+0) { margin-right:0; }
      }
      /*960PX BREAKPOINT*/
      @media (min-width:60em){
          .card { width:24.58%; margin-right:0; margin-bottom:0; }
          .card p { line-height:25px; }
          .card:nth-of-type(4n+0) { margin-right:0; }
      }